@{
    ViewBag.Title = "Home Page";
}

@section scripts{
    <script src="~/Scripts/sigr.js"></script>
}


<h1>
    Welcome to the SignalR Demo
</h1>

<h4>This is just a simple chat app.</h4>

<h4 id="my-name"></h4>

<div id="messages"></div>

<div id="chat-form">
    Chat: <input id="chat-form-input" type="text" />
    <input id="chat-form-btn" type="submit" value="Send" />
</div>

<button id="clear-list-btn">Clear chat logs</button>




